@import 'variables';

body {
    position: relative;
}

.nav-site-wrapper{
    margin-left: 245px;
}

.site-wrapper{
    margin-left: 80px;
    .adminName{
        margin-right:100px !important;    
    }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ReactTable {
	border:none !important;
	padding: 80px 16px 22px 19px;
   
  }
  .ReactTable .rt-thead .rt-tr {
	text-align: center;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .ReactTable .rt-tbody .rt-tr-group {
	border-bottom: solid 1px rgba(0,0,0,0.05);
	height: 50px;
  }

  .ReactTable.-striped .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
}

.ReactTable .rt-tr{
	text-align: center;
}