.fotter-copyright-area{
    position:fixed;
    bottom: 0;
    width:100%;
    left: 0;
    background: #006DF0;
    padding: 20px 0px;
    text-align: center;
    .footer-copy-right{
        margin: 0px;
        font-size: 15px;
        color: #fff;
        p{
            margin-bottom: 0px;
        }
       // display: flex;
       // justify-content: center;

    }
}